<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.shop.holomen.infrastructure.datasource.mapper.admin.NhapSanPhamMapper">

    <resultMap id="mau" type="com.shop.holomen.domain.sanPhamDetail.Mau">
       <result property="value" column="mau"></result>
    </resultMap>

    <resultMap id="size" type="com.shop.holomen.domain.sanPhamDetail.Size">
        <result property="value" column="size"></result>
    </resultMap>

    <insert id="insertSanPham" parameterType="com.shop.holomen.domain.sanPhamDetail.SanPhamDetail"
            useGeneratedKeys="true" keyProperty="sanPhamDetail.sanPhamId.value">
        INSERT INTO shop.san_pham (
        ten_san_pham,
        mo_ta,
        ma_loai
        )
        values (
        #{sanPhamDetail.tenSanPham.value},
        #{sanPhamDetail.mota.value},
        #{sanPhamDetail.maLoai.value}
        )
    </insert>

    <insert id="insertSanPhamDetail" parameterType="com.shop.holomen.domain.sanPhamDetail.SanPhamDetail"
            useGeneratedKeys="true" keyProperty="sanPhamDetail.sanPhamDetailId.value">
        INSERT INTO shop.san_pham_detail(
        san_pham_id,
        gia_thuong,
        gia_km,
        main_image,
        image_1,
        image_2,
        image_3,
        image_4
        )
        values (
        #{sanPhamDetail.sanPhamId.value},
        #{sanPhamDetail.giaThuong.value},
        #{sanPhamDetail.giaKM.value},
        #{sanPhamDetail.mainImage.linkHinh.value},
        #{sanPhamDetail.image1.linkHinh.value},
        #{sanPhamDetail.image2.linkHinh.value},
        #{sanPhamDetail.image3.linkHinh.value},
        #{sanPhamDetail.image4.linkHinh.value}
        )
    </insert>

    <insert id="insertMauSanPham">
        INSERT INTO shop.mau (
        san_pham_detail_id,
        mau
        )
        values (
        #{sanPhamDetailId.value},
        #{mau.value}
        )
    </insert>

    <insert id="insertSizeSanPham">
        INSERT INTO shop.size (
        san_pham_detail_id,
        size
        )
        values (
        #{sanPhamDetailId.value},
        #{size.value}
        )
    </insert>

    <resultMap id="sanPhamDetail" type="com.shop.holomen.domain.sanPhamDetail.SanPhamDetail">
        <result column="san_pham_id" property="sanPhamId.value"></result>
        <result column="san_pham_detail_id" property="sanPhamDetailId.value"></result>
        <result column="ma_loai" property="maLoai.value"></result>
        <result column="ten_san_pham" property="tenSanPham.value"></result>
        <result column="mo_ta" property="mota.value"></result>
        <result column="gia_km" property="giaKM.value"></result>
        <result column="gia_thuong" property="giaThuong.value"></result>
        <result column="main_image" property="mainImage.linkHinh.value"></result>
        <result column="image_1" property="image1.linkHinh.value"></result>
        <result column="image_2" property="image2.linkHinh.value"></result>
        <result column="image_3" property="image3.linkHinh.value"></result>
        <result column="image_4" property="image4.linkHinh.value"></result>
        <collection property="maus.values" resultMap="mau"></collection>
        <collection property="sizes.sizes" resultMap="size"></collection>
    </resultMap>

    <select id="findAll" resultMap="sanPhamDetail">
        SELECT
            san_pham_detail_id,
            san_pham_id,
            ma_loai,
            ten_loai,
            ten_san_pham,
            mo_ta,
            gia_thuong,
            gia_km,
            main_image,
            image_1,
            image_2,
            image_3,
            image_4,
            mau,
            size
        FROM
            shop.loai_san_pham
        JOIN shop.san_pham USING(ma_loai)
        JOIN shop.san_pham_detail USING(san_pham_id)
        JOIN shop.mau USING(san_pham_detail_id)
        JOIN shop.size USING(san_pham_detail_id)
        ORDER BY san_pham_detail.update_date DESC
    </select>

    <delete id="removeSanPham">
        DELETE
        FROM
        shop.san_pham
        WHERE san_pham_id = #{sanPhamId};
    </delete>

    <delete id="removeSanPhamDetail">
        DELETE
        FROM
        shop.san_pham_detail
        WHERE san_pham_detail_id = #{sanPhamDetailId};
    </delete>

    <delete id="removeMau">
        DELETE
        FROM
        shop.mau
        WHERE san_pham_detail_id = #{sanPhamDetailId};
    </delete>

    <delete id="removeSize">
        DELETE
        FROM
        shop.size
        WHERE san_pham_detail_id = #{sanPhamDetailId};
    </delete>

    <select id="findBy" resultMap="sanPhamDetail">
        SELECT
            san_pham_detail_id,
            san_pham_id,
            ma_loai,
            ten_loai,
            ten_san_pham,
            mo_ta,
            gia_thuong,
            gia_km,
            main_image,
            image_1,
            image_2,
            image_3,
            image_4,
            mau,
            size
        FROM
            shop.loai_san_pham
        JOIN shop.san_pham USING(ma_loai)
        JOIN shop.san_pham_detail USING(san_pham_id)
        JOIN shop.mau USING(san_pham_detail_id)
        JOIN shop.size USING(san_pham_detail_id)
        WHERE san_pham_detail.san_pham_detail_id = #{sanPhamDetailId}
    </select>

    <update id="updateSanPham">
        UPDATE shop.san_pham
        SET
          ten_san_pham = #{sanPhamDetail.tenSanPham.value},
          mo_ta = #{sanPhamDetail.mota.value}
        WHERE san_pham_id = #{sanPhamDetail.sanPhamId.value}
    </update>

    <update id="updateSanPhamDetail">
        UPDATE shop.san_pham_detail
        SET
          gia_thuong = #{sanPhamDetail.giaThuong.value},
          gia_km = #{sanPhamDetail.giaKM.value}
        WHERE san_pham_id = #{sanPhamDetail.sanPhamDetailId.value}
    </update>

    <select id="findSanPhamBy" resultMap="sanPhamDetail">
        SELECT
            san_pham_detail_id,
            san_pham_id,
            ma_loai,
            ten_loai,
            ten_san_pham,
            mo_ta,
            gia_thuong,
            gia_km,
            main_image,
            image_1,
            image_2,
            image_3,
            image_4
        FROM
            shop.loai_san_pham
        JOIN shop.san_pham USING(ma_loai)
        JOIN shop.san_pham_detail USING(san_pham_id)
        WHERE loai_san_pham.ten_map = #{tenMap}
        <if test="sapXep.isTangDan()">
        ORDER BY san_pham_detail.gia_km ASC
        </if>
        <if test="sapXep.isGiamDan()">
            ORDER BY san_pham_detail.gia_km DESC
        </if>
        <if test="sapXep.isAToZ()">
            ORDER BY san_pham.ten_san_pham ASC
        </if>
        <if test="sapXep.isZToA()">
            ORDER BY san_pham.ten_san_pham DESC
        </if>
        <if test="sapXep.isCuNhat()">
            ORDER BY san_pham_detail.update_date ASC
        </if>
        <if test="sapXep.isMoiNhat()">
            ORDER BY san_pham_detail.update_date DESC
        </if>
        LIMIT
        #{pageable.pageSize}
        OFFSET
        #{pageable.offset}
    </select>

    <select id="size" resultType="Integer">
        SELECT
            count(san_pham_detail.san_pham_detail_id)
        FROM
            shop.loai_san_pham
        JOIN shop.san_pham USING(ma_loai)
        JOIN shop.san_pham_detail USING(san_pham_id)
        WHERE loai_san_pham.ten_map = #{tenMap}
        ORDER BY san_pham_detail.update_date DESC
    </select>
</mapper>
